html
    head
        title My First Pug File
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css")
    body.container
        include ./partials/navbar
        h1 ABout Page        
        include ./partials/footer