html
    head
        title My First Pug File
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css")
    body.container
        include ./partials/navbar
        h1 Hello Class        
        div
            h2 This is heading two
            p My paragraph
        include ./partials/footer